#!/usr/bin/env bash

volsize="10Gi"

for volume in pv{26..50} ; do
cat << EOF > /root/pvs/${volume}
{
  "apiVersion": "v1",
  "kind": "PersistentVolume",
  "metadata": {
    "name": "${volume}"
  },
  "spec": {
    "capacity": {
        "storage": "${volsize}"
    },
    "accessModes": [ "ReadWriteMany" ],
    "nfs": {
        "path": "/srv/nfs/user-vols/${volume}",
        "server": "support1.{{ ansible_local['guid']['guid'] }}.internal"
    },
    "persistentVolumeReclaimPolicy": "Retain"
  }
}
EOF
done;
