#!/bin/bash
oc new-project smoke-test-nodejs
oc new-app nodejs-mongo-persistent
sleep 70
oc get pod
oc get route
curl -i --head http://nodejs-mongo-persistent-smoke-test-nodejs.apps.{{ ansible_local['guid']['guid'] }}.example.opentlc.com
sleep 30
